

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
}

.searchinput > input{
  color: #ffffff;
}

.searchinput > input::placeholder{
  color: #ffffff;
}

.tableOfTracks table tr th:nth-child(1), .tableOfTracks table tr td:nth-child(1){
  width: 50px !important;
}

.tableOfTracks table tr th:nth-child(2), .tableOfTracks table tr td:nth-child(2){
  width: 200px !important;
}

.tableOfTracks table tr th:nth-child(3), .tableOfTracks table tr td:nth-child(3){
  width: 100px !important;
  overflow: hidden;
}

.tableOfTracks table tr th:nth-child(4), .tableOfTracks table tr td:nth-child(4){
  width: 100px !important;
  overflow: hidden;
}

.tableOfTracks table tr th:nth-child(5), .tableOfTracks table tr td:nth-child(5){
  width: 60px !important;
  overflow: hidden;
}

.tableOfTracks > div > div{
  display: flex;
}

.tableOfTracks > div > div > div{
  flex: 1;
}


.tableOfTracksPlaylist table tr th:nth-child(1) > div {
  display: none;
}

.tableOfTracksPlaylist table tr th:nth-child(2) > div {
  display: none;
}

.tableOfTracksPlaylist table tr th:nth-child(3) > div {
  display: none;
}

.tableOfTracks table tr th:nth-child(1) > div {
  display: none;
}

.tableOfTracks table tr th:nth-child(2) > div {
  display: none;
}

.tableOfTracks table tr th:nth-child(3) > div {
  display: none;
}

span.fa{
  margin-right: 5px !important;
}

.username{
  text-align: center;
  position: fixed;
  top: 22px;
  left: 48px;
}

.sideLinks{
  margin-left: 15px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

.sideLinks li{
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 6px;
  width: 200px;
}

.sideLinks li:hover{
  background-color: #555555;
}

ul.sideLinks li a {
  text-decoration: none;
  color: #ffffff;
}

ul.sideLinks li a div span.fa{
  color: #ffffff;
}

ul.sideLinks span.fa{
  font-size: 18px;
}

.playlistsList{
  margin-left: 15px;
  list-style-type: none;
  padding-left: 0;
}

.playlistsList li{
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 6px;
  width: 200px;
}

.playlistsList li:hover{
  background-color: #555555 !important;
}

ul.playlistsList li a {
  text-decoration: none;
  color: #ffffff;
}

ul.playlistsList li a div span.fa{
  color: #ffffff;
}

.playlistSection{
  margin-left: 15px;
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 15px;
}

.diggingBadge{
  position: absolute !important;
  color: #222222;
  left: 190px;
  background-color: #ffffff;
  padding: 0px;
  width: 30px;
  border-radius: 20px;
  text-align: center;
}

/*CANDIDATES*/

.playerCandidatesWrapper{

}

.playerCandidates{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.playerCandidates > div.playing{
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.playerCandidates > div{
  cursor: pointer;
  width: 358px;
  height: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 12px;
  border: dotted 1px #cccccc;
  margin-bottom: 4px;
  padding: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.playerCandidates > div > span{
  margin-left: 10px;
}

.playerCandidates > div:hover{
  border: solid 1px #cccccc;
}

.trackActionsWrapper{
  border: 1px dashed #fafafa;
  background-color: #eeeeee;
  padding: 6px 10px 0px 10px;
  cursor: move;
  color: #222222;
  display: inline-block;
  width: 350px;

}

/*PLAYER*/

.DiggingPlayerWrapper{
  display: flex;
  align-content: center;
  justify-content: flex-end;
  position: fixed;
  flex-direction: column;
  width: 370px;
  background-color: #FFFFFF;
  right: -1000px;
  bottom: -1000px;
  opacity: 1;
  padding: 15px;
  z-index: 9999999;
  user-select: none;
  box-shadow: -2px 7px 30px -7px;
}

.DiggingPlayerWrapper.playing {
  right: 10px;
  bottom: 10px;
}

.ReactPlayerWrapper{

}

.DiggingCandidates{
  margin-bottom: 10px;
}


.DiggingPlayerProgressBar{
  margin-top: 6px;
  cursor: pointer;
  margin-bottom: 6px;
}

.DiggingInfoGroup{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

.DiggingplayerCover{
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 50px;
}

.DiggingplayerCover img{
  width: 50px;
  height: 50px;
}

.DiggingplayerButtons{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.DiggingPlayerActions .trackActionsWrapper {
  width: 300px;
  padding: 0px 0px 0px 4px;
  margin-left: 8px;
}

.DiggingPlayerActions .trackActionsWrapper > span:last-child{
  width: 240px;
  overflow: hidden;
  height: 18px;
}

.DiggingPlayerControls{
  width: 100%;
  padding-left: 10px;
  padding-top: 3px;
}

.DiggingPlayerActions{

}

div.DiggingPlayerProgressBar > div > div{
  height: 10px !important;
}


.searchIcon{
  position: absolute;
  top: 33px;
  left: 210px;
}

/*
body .AppBarTabsTitle{
  color: #222222 !important;
  margin-right: 10px;
  background-color: #FAFAFA;
  height: 30px;
  margin-top: 16px;
}

#root > div > div > div > div > div > main > div > header{
  margin-top: 0px;
}*/

/*BLOG*/
.diggingBlog{
  display: flex;
  flex-direction: column;
  background-image: url('/public/img/pattern/pattern-white.jpg');
}

.diggingBlogWrapper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
}
.blogSectionTitle{
  color: #222222;
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  border-top: solid 5px black;
  display: inline-block;
  padding-top: 10px;
  border-bottom: solid 5px black;
  padding-bottom: 10px;
}
.blogSectionContent{
  width: 100%;
  color: #000000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 250px;
  flex-wrap: wrap;
}
/*.blogSectionContent{
  column-count: 4;
  column-gap: 1em;
}*/
.diggingBlogContentWrapper{
  width: 46%;
  display: flex;
  background-color: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  height: 300px;
}
/*.diggingBlogContentWrapper{
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  background-size: cover;
  background-position: center;
}*/
.diggingBlogContentContent{

}

.diggingBlogContentContent p{
  height: 200px;
  overflow-y: scroll;
  text-align: justify;
}

.diggingBlogContentContent h1{
  margin-top: 0;
  font-size: 28px;
  color: #ffffff;
  line-height: 1.1;
}

.diggingBlogContentContent p{

}

.diggingBlogContentImg{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.blogLogo{
  width: 80px;
  margin-top: 10px;
}

.gotoBlog{

}

.diggingBlogContentImg img.blogCover{
  width: 150px;
}

.blogType{
  text-transform: uppercase;
  color: #00C1CC;
  font-size: 12px;
  display: block;
  font-weight: bold;
}

/*BLOG*/

.DiggingTabsClass{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.DiggingTabsClass button{
  background-color: #222222;
  color: #ffffff;
  font-weight: normal;
}

.DiggingTabsClass button[aria-selected="true"]{
  background-color: #ffffff;
  color: #222222;
}
